.DS_Store
__MACOSX

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info
dist/
build/
eggs/
*.log

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
venv-qsb
/pyvenv.cfg
