# Core Packages
flask==2.2.5
flask-cors==4.0.2
requests==2.32.2
numpy==1.24.3
cachetools==5.3.0
certifi==2024.7.4
urllib3==2.2.0

# AI and NLP Packages
torch==2.2.0
transformers==4.38.0

# Quantum Computing Integration
qiskit==0.44.2
qiskit-aer

# Advanced Distributed System Packages
ray[serve]==2.10.0
phe==1.5.0

# Testing Dependencies
parameterized==0.9.0

# Other Dependencies
psutil==5.9.5
concurrent-log-handler==0.9.25
