# Core Packages
flask==3.1.0
Flask-Cors>=4.0.2
requests==2.32.3
numpy==1.26.4
cachetools==5.3.2
certifi==2024.8.30
urllib3==2.2.3

# AI and NLP Packages
torch==2.5.1
transformers==4.38.1
ray[serve]==2.39.0
numpy==1.22.0
qiskit==1.2.4
psutil==5.9.8
cachetools==4.2.2
hivemind==1.1.10.post2
trueagi==0.1.0
quantum-assistant==0.2.0
distributed-optimizer==0.3.0
sentence-transformers==3.3.0

# Testing Dependencies
parameterized==0.9.0

# Other Dependencies
python-dotenv==1.0.1

# Development Dependencies
black==24.10.0
pylint==3.0.3
pytest==8.0.0